#The name of your workflow.
name: Tests
# Trigger the workflow on push or pull request
on: push

jobs:
  test:
    #The type of machine to run the job on. [windows,macos, ubuntu , self-hosted]
    runs-on: ubuntu-latest
    #sequence of tasks called
    steps:
    # The branch or tag ref that triggered the workflow will be checked out.
     # https://github.com/actions/checkout
    - uses: actions/checkout@v1
    # Setup a flutter environment.
    # https://github.com/marketplace/actions/flutter-action
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.17.1'
    - run: flutter pub get
    - run: flutter test
    # Upload coverage reports to Codecov
    # https://github.com/marketplace/actions/codecov
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage/lcov.info
